interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-18T16:26:03Z</responseDate>\n
      \ <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
      \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:2217771</identifier>\n
      \       <datestamp>2020-01-20T17:11:12Z</datestamp>\n      </header>\n      <metadata>\n
      \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
      xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
      \         <dc:creator>Moir, James</dc:creator>\n          <dc:date>1910-01-01</dc:date>\n
      \         <dc:description>n/a</dc:description>\n          <dc:identifier>https://doi.org/10.1080/00359191009519377</dc:identifier>\n
      \         <dc:identifier>oai:zenodo.org:2217771</dc:identifier>\n          <dc:publisher>Zenodo</dc:publisher>\n
      \         <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative
      Commons Zero v1.0 Universal</dc:rights>\n          <dc:rights>https://creativecommons.org/publicdomain/zero/1.0/legalcode</dc:rights>\n
      \         <dc:title>Some Remarkable Oxidation-Products of Benzidine</dc:title>\n
      \         <dc:type>info:eu-repo/semantics/article</dc:type>\n        </oai_dc:dc>\n
      \     </metadata>\n    </record>\n    <record>\n      <header status=\"deleted\">\n
      \       <identifier>oai:zenodo.org:2510668</identifier>\n        <datestamp>2020-01-20T13:19:30Z</datestamp>\n
      \     </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
      xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=eJyNzE1vgjAcgPHv8j
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-18T16:26:17Z</responseDate>\n
      \ <request resumptionToken=\"eJyNzE1vgjAcgPHv8j\"
      verb=\"ListRecords\">https://zenodo.org/oai2d</request>\n  <ListRecords>\n    <record>\n
      \     <header>\n        <identifier>oai:zenodo.org:6243265</identifier>\n        <datestamp>2022-03-08T03:45:27Z</datestamp>\n
      \       <setSpec>user-biosyslit</setSpec>\n      </header>\n      <metadata>\n
      \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
      xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
      \         <dc:creator>Jinlu Li</dc:creator>\n          <dc:creator>Naifa Liu</dc:creator>\n
      \         <dc:creator>Junxing Yang</dc:creator>\n          <dc:date>2007-12-31<[...]
